name: build

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version number to use'
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '25.0.1'

      - uses: actions/cache@v4
        with:
          path: cache/
          key: "25.0.1"

      - name: build
        run: java build/Build.java cross version=${{ inputs.version }}

      - name: checksum
        run: sha256sum out/*.zip > out/checksums.txt && cat out/checksums.txt

      - uses: actions/upload-artifact@v4
        with:
          name: runtimes
          path: |
            out/*.zip
            out/checksums.txt
